resources:
# Firewall that allows public traffic to specific port on a vm with specific tag
- name: {{ env["name"] }}
  type: compute.v1.firewall
  properties:
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    sourceRanges: [ {{ properties["source_range"] }} ]
    targetTags: [ {{ properties["target_tag"] }} ]
    allowed:
    - IPProtocol: tcp
      ports: [ {{ properties["port"] }} ]