{% set VM_NAME = env["deployment"] %}
{% set FIREWALL = env["deployment"] + "-firewall" %}
{% set WEB_SERVER_TAG = env["deployment"] + "-app" %}

resources:
- type: compute.v1.instance
  name: vm-{{ VM_NAME }}
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machine_type"] }}
    tags:
        items:
        - {{ WEB_SERVER_TAG }}
    metadata:
      items:
      # For more ways to use startup scripts on an instance, see:
      #   https://cloud.google.com/compute/docs/startupscript
      - key: startup-script
        value: |
          #!/bin/bash

          #Installing stackdrvier monitoring agent
          curl -O "https://repo.stackdriver.com/stack-install.sh"
          sudo bash stack-install.sh --write-gcm

          #Installing stackdriver logging agent
          curl -sSO https://dl.google.com/cloudagents/install-logging-agent.sh
          sudo bash install-logging-agent.sh

    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: disk-{{ env["deployment"] }}
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-8

    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

- type: compute.v1.firewall
  name: {{ FIREWALL }}
  properties:
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    sourceRanges: [ "0.0.0.0/0" ]
    targetTags: [{{ WEB_SERVER_TAG }}]
    allowed:
    - IPProtocol: tcp
      ports: [ "80" ]